body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.header-section {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 23px;;
}

h2 {
  margin-right: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input[type="text"] {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 17px;
  outline: none;
  padding-right: 30px; /* Ensure space for the icon */
  width: 200px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #777;
}


header {
  font-family: 'Fira Sans', sans-serif;
  background-color: white;
  color: black;
  padding: 5px 0;
}

#head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}


h2 {
  font-size: 28px;
}

.navbar ul {
  list-style: none;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: black;
}

.callBtn {
  background-color: #f39c12;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.callBtn:hover {
  background-color: #e67e22;
}
/* Add your custom styles here */
/* Add your custom styles here */
body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -15px;
}

.card {
  width: 20rem;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
  
}

.card-header {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  padding: 0.75rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0.75rem;
  width: 90%;
  transition: border-color 0.2s ease-in-out;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  width: 100%;
  background-color: #007bff;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Add cursor style */
}

.btn-primary:hover {
  background-color: #0056b3;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 0.75rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.callBtn-wrapper {
  position: fixed;
  top: 50%;
  right: -60px;
  transform: rotate(90deg);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.callBtn-wrapper a{
color: white;
}


                        